<!DOCTYPE html>
<html>
<head>
  <title>ProyectoFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="container">
    <div class="header-media">
      <%= image_tag("tec.png", :alt => "Tecnológico de Monterrey", :class => "header-media-left") %>
      <span class="header-media-body header-media-heading">Campus Estado de México</span>
      <%= image_tag("banner.jpg", :alt => "CEDETEC", :class => "header-media-right") %>
    </div>
  </header>
  
<div class="navbar navbar-default">
    <div class="container" >
      <%= render 'layouts/navigation' %> <!-- Renders the Nav bar with the proper links -->
    </div>
  </div>
    <div id="main" role="main">
      <div class="container " >
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %> <!-- Renders any existing Alert notifications or errors -->
              <%= yield %> <!-- Renders the complete view -->
            </div>
          </div>
          
        </div>
      </div> 
    </div> 
    

</body>
</html>
